<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>$action.getText("wap.title.logout")</title>
    <link rel='stylesheet' type='text/css' href='$request.contextPath/download/resources/net.customware.confluence.plugin.wap:wapactions/wap.css'/>
</head>
<body>

    #parse ( "/template/includes/actionerrors.vm" )

    #if ($actionErrors.size() == 0)
    <p>$action.getText("wap.successful.logout.message")</p>
    <p><a href="login.action">$action.getText("wap.logout.login.again")</a></p>
    #end
    <hr/>
    <p><a href="dashboard.action">$action.getText("wap.dashboard")</a></p>
</body>
</html>