<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>$generalUtil.escapeXml($action.getText("wap.title.pageinfo", [$page.title]))</title>
  <link rel='stylesheet' type='text/css' href='$request.contextPath/download/resources/net.customware.confluence.plugin.wap:wapactions/wap.css'/>
</head>
<body>
<h2>$action.getText("wap.label.creation")</h2>
<p>&#160;<span class="label">$action.getText("wap.label.user")</span> <a href="viewprofile.action?username=$generalUtil.urlEncode($creator.name)">$generalUtil.escapeXml($creator.fullName)</a><br/>
&#160;<span class="label">$action.getText("wap.label.date")</span> $generalUtil.formatDateFull($page.creationDate)</p>
<h2>$action.getText("wap.label.lastmodification")</h2>
<p>&#160;<span class="label">$action.getText("wap.label.user")</span> <a href="viewprofile.action?username=$generalUtil.urlEncode($lastModifier.name)">$generalUtil.escapeXml($lastModifier.fullName)</a><br/>
&#160;<span class="label">$action.getText("wap.label.date")</span> $generalUtil.formatDateFull($page.lastModificationDate)
#if ($page.versionComment && $page.versionComment != "")
<br/>&#160;<span class="label">$action.getText("wap.label.versioncomment")</span> $generalUtil.escapeXml($page.versionComment)
#end
<hr/>
</p>
<p><span class="label">$action.getText("wap.label.tinyurl")</span> $tinyUrl</p>
<hr/>
<p>
<span class="label">$action.getText("wap.link.page")</span> <a href="viewpage.action?pageId=$page.id">$generalUtil.escapeXml($page.title)</a><br/>
<span class="label">$action.getText("wap.link.space")</span> <a href="viewspace.action?key=$page.spaceKey">$generalUtil.escapeXml($page.space.name)</a><br/>
<span class="label"><a href="dashboard.action">$action.getText("wap.link.dashboard")</a></span>
</p>

</body>
</html>